/*Estilos Generales*/
*{
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

/*Naveggacion y header*/
.conatianer-nav{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #333; 

    
}
   

/* Logo */
.logo{
    margin-left: 15px;
    font-size: 18px;
}
    .nav-link-logo{
        text-decoration: none;
        color: antiquewhite;   
    }
        .logo:hover{
            font-size: 25px;
        }

/* Logo Hamburgesa Menu oculto*/
.more-logo{
    display: flex;
    justify-content: center;
    margin-right: 15px;
    height: 35px;
    
}

/*Navegacion Desk*/
.navegacion{
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
    .nav_link{
        margin: 10px;
        color: antiquewhite;
    }
        .link1:hover{
            font-size: 25px;
        }
        .link2:hover{
            font-size: 25px;
        }
        .link3:hover{
            font-size: 25px;
        }
        .link4:hover{
            font-size: 25px;
        }
        .link5:hover{
            font-size: 25px;
        }
        

/* Principal */

.principal{
    background-color: aliceblue; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titulo{
    padding-top: 10px;
    background-color: aliceblue;
    margin-top: 0px;
    font-size: 50px;
    width: 100%;
    text-align: center;
    
}
        .principal h1{
            
            flex-wrap: wrap;
            flex-direction: column;
            font-size: 35px;
            color: black;
            font-weight: bold;
            margin-top: 20px; 
            
        }

    .principal_img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .pri__img{
            width: 100%;
            
        }
    
    .principal_cv{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        
        
    }
        .pri__frase{
            text-align: center;
            width: 250px;
        }
        .pri__cv{
            margin-bottom: 20px;
            margin-top: 25px;
            padding: 10px 45px;
            border: 1px solid;
            border-radius: 20px;
            /* box-shadow: 2px 4px black; */
            background-color: #333;
            color:antiquewhite;
            font-weight: bold;
            font-size: 19px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
            .pri__cv:hover{
                padding: 15px 55px;
                box-shadow: 0 14px 2px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }


/*Parte Skills*/

.skills{
    background-color: #333;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
    .skill{
        height: 90%;
        width: 500px;
        margin: 60px auto;
        color: antiquewhite;
        padding: 20px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    h1{
        text-align: center;
    }
    h3{
        margin: 5px;
    }
        .skill li{
            margin: 20px 0;
            padding: 10px;
        }

    .bar{
        background-color: #353b48;
        display: block;
        height: 20px;
        border: 1px solid rgba(0,0,0,0.3);
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .bar:hover{
        box-shadow: 0 14px 2px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .bar span{
        height: 20px;
        float:left;
        background: linear-gradient(135deg, rgba(236,140,255,1)0%, rgba(252,103,103,1)100%);
    }
.java{
    width: 60%;
    animation: java 3s;
}
.python{
    width: 70%;
    animation: python 3s;
}
.javascript{
    width: 70%;
    animation: javascript 3s;
}
.css{
    width: 60%;
    animation: css 3s;
}
.html{
    width: 80%;
    animation: html 3s;
}
.mysql{
    width: 50%;
    animation: mysql 3s;
}

/*Parte Proyectos*/

.proyects{
    display: flex;
    height: 100%;
    width: 100%;
    
}
    .proyectos-container{
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        background-color: aliceblue;
    }
        .proyectos-container h1{
            display: block;
            width: 100%;
        }
        .proyecto1{
            flex-direction: column;
            background-image: url('./images/javaimg.png');
            width: 80%;
            max-width: 450px;
            height: 29%;
            border: 1px solid #333;
            border-radius: 25px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
            .proyecto1 h3{
                font-size: 25px;
                margin-bottom: 15px;
            }
            .proyecto1 p{
                margin-bottom: 15px;
            }
            .proyecto1 a{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                border-radius: 25px;
                color: antiquewhite;
                background-color: #333;
                padding: 10px;
                text-align: center;
                border: 1px, solid black;
            }

        .proyecto2{
            background-image: url('./images/node.png');
            width: 80%;
            max-width: 450px;
            height: 29%;
            border: 1px solid #333;
            border-radius: 25px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
            .proyecto2 h3{
                font-size: 25px;
                margin-bottom: 15px;
            }
            .proyecto2 p{
                margin-bottom: 15px;
            }
            .proyecto2 a{
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                border-radius: 25px;
                color: antiquewhite;
                background-color: #333;
                padding: 10px;
                text-align: center;
                border: 1px, solid black;
            }
        
            
        .proyecto3{
            background-image: url('./images/jscript.png');
            width: 80%;
            max-width: 450px;
            height: 29%;
            border: 1px solid #333;
            border-radius: 25px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
                .proyecto3 h3{
                    font-size: 25px;
                    margin-bottom: 15px;
                }
                .proyecto3 p{
                    margin-bottom: 15px;
                }
                .proyecto3 a{
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    border-radius: 25px;
                    color: antiquewhite;
                    background-color: #333;
                    padding: 10px;
                    text-align: center;
                    border: 1px, solid black;
                }
                .proyecto3{
                    width: 80%;
                    max-width: 450px;
                    height: 25%;
                    border: 1px solid #333;
                    border-radius: 25px;
                } 
        

/* Parte Acerca de Mi */

.about{
    display: flex;
    height: 100%;
    width: 100%;
    
}
    .about_container{
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #333;
        color: antiquewhite;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
        .about_container h1{
            display: block;
            width: 100%;
            font-size: 40px;
        }

        .about_foto{
            display: flex;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .about__foto{
            border-radius: 40%;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }

        .about_text{
            width: 80%;
        }

/* Parte Contacto */

.contacto{
    background-color: aliceblue;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
    .social_contact{
        
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }
        .social_link {
            color:black;
            text-align: center;
            font-size: 20px;
            margin-left: 10px;
            
        }

/*Efecto Skills barra*/
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
    
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
    
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
    
}
@keyframes mysql{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
    
}

/*Mobile responsive*/

/*desaprace barra nav*/


/*aparece menu hamburguesa*/

@media(min-width:400px){
    .proyecto1{
        background-image: url('./images/javaimg.jpg');
    
    }   
    .proyecto2{
        background-image: url('./images/node.png');
    }
    .proyecto3{
        background-image: url('./images/jscript.png');
        
    }
}

@media(min-width:460px){
    .proyecto2{
        background-image: url('./images/node\ \(1\).png');
    }
    .proyecto3{
        background-image: url('./images/jscript\ \(1\).png');
        
    }
}

/* @media(min-width:600px){
    .conatianer-nav{
        height: 120px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo{
        padding-top: 15px;
    }
        .nav-link-logo{
            font-size: 18px;
        }
    .navegacion{
        margin-top: 25px;
        font-size: 20px;
    }

} */

@media(max-width:620px){
    
    .conatianer-nav{
        height: 120px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo{
        padding-top: 15px;
    }
        .nav-link-logo{
            font-size: 18px;
        }
    .navegacion{
        margin-top: 25px;
        font-size: 20px;
    }

}

@media(max-width:460px){
    .navegacion{
        margin-top: 25px;
        font-size: 15px;
    }
    
}

@media(min-width:800px){
    .proyectos-container{
        flex-direction: row;
    }
    .proyectos-container h1{
        font-size: 35px;
    }
    .proyecto1{
        height: 35%;
    }
    .proyecto2{
        height: 35%;
    }
    .proyecto3{
        height: 35%;
    }
}
@media(max-width:950px){

    .titulo{
        display: none;
    }
}

@media(min-width:950px){
    .principal h1{
        display: none;
    }
    .principal_cv{
        margin: 25px auto;
        font-size: 25px;
    }
    .principal{
        flex-direction: row;
    }
    .principal_img{
        display: block;
        margin: 25px auto;
        width: 40%;
    }
    .about_container{
        flex-direction: row;
    }
    .about_text{
        width: 40%;
        font-size: 25px;
    }
    .about__foto{
        height: 350px;
        width: 350px;
    }
}
@media(max-width:1400px){
    .proyecto1 img{
        display: none;
    }
    .proyecto2 img{
        display: none;
    }
    .proyecto3 img{
        display: none;
    }
}
@media(min-width:1400px){
    .proyecto1{
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-image: none;
    }
        
    .proyecto2{
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-image: none;
    }
    .proyecto3{
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-image: none;
    }
    .about_container{
        justify-content: space-around;
    }
}